<!DOCTYPE html>
<html>

<head>
    <title>Youtube</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <link rel="icon" href="https://s.ytimg.com/yts/img/favicon_32-vflOogEID.png" />
    <link href="https://fonts.googleapis.com/css?family=Roboto|Roboto+Mono&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />

    <link rel="stylesheet" href="{{ url_for('static',filename='extern/bootstrap.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static',filename='extern/fontawesome.css') }}" />

    <link rel="stylesheet" href="{{ url_for('static',filename='styles/all.min.css') }}" />

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- <link rel="stylesheet" href="{{ url_for('static',filename='styles/videopage.css') }}" /> -->
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/style.css') }}" />
</head>

<body>

    <!-- mobile top navbar -->
    <nav class="nav d-flex justify-content-around align-items-center">
        <div class="menu">
            <a href="/">
                <img class="youlogo" src="{{ url_for('static',filename='images/youlogo.png') }}" />
            </a>
        </div>
        <form class="searchbar" method="POST" action="search">
            <input type="text" name="search" id="search" placeholder="Search" />
            <button class="search-btn">
                <i class="material-icons search-icon">search</i>
            </button>
        </form>
            
        {% if userinf %}
            {% for inf in userinf %}
            <div class="dropdown">
                <img onclick="channeldropdown()" class="account-icon channel_img" src="{{ inf[4] }}" alt="">
                <div id="channeldropdown" class="dropdown-content">
                    <div class="content">
                        <a href="{{ url_for('channel', channel='') }}{{ inf[1] }}">{{ inf[1] }}</a>
                        <a href="/logout">Logout</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        {% else %}
            <button onclick="location.href='login';" type="button" class="btn btn-outline-primary">Login</button>
        {% endif %}
    </nav>
    <!-- mobile top navbar -->


    <!-- Recommended section -->
    <div class="container-fluid w-75 mx-auto mt-5">
        <h2 class="ml-4">Recommended</h2>
        <div class="d-flex flex-wrap">
            {% for row in data %}
            <div class="col-md-3 mt-5">
                <div class="card">
                    <a href="{{ url_for('videoPage', id='') }}{{ row[0] }}">
                        <video class="w-100" src="{{ row[5] }}" alt="image">
                        </video>
                    </a>
                    <a class="row" href="{{ url_for('channel', channel='') }}{{ row[8] }}">
                        <div class="col-2 mt-3">
                            <img id="img" width="48" src="{{ row[10] }}" class="rounded-circle">
                        </div>
                        <div class="col-10 mt-3">
                            <h4 class="mb-2">
                                {{ row[2] }}
                            </h4>
                            <h5>
                                {{ row[8] }}
                                <br>
                                {{ row[4] }} • {{ row[6] }}
                            </h5>
                        </div>
                    </a>
                </div>
            </div>
            {% endfor %}
        </div>
        <!-- Recommended Section -->
    </div>

    <script src="{{ url_for('static', filename='js/script.js') }}"></script>

</body>

</html>

</html>