<!DOCTYPE html>
<html>

<head>
    <title>Youtube</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <link rel="icon" href="https://s.ytimg.com/yts/img/favicon_32-vflOogEID.png" />
    <link href="https://fonts.googleapis.com/css?family=Roboto|Roboto+Mono&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />

    <link rel="stylesheet" href="{{ url_for('static',filename='extern/bootstrap.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static',filename='extern/fontawesome.css') }}" />

    <link rel="stylesheet" href="{{ url_for('static',filename='styles/all.min.css') }}" />

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <link rel="stylesheet" href="{{ url_for('static',filename='styles/style.css') }}" />
</head>

<body>
    <!-- mobile top navbar -->
    <nav class="nav d-flex justify-content-around align-items-center">
        <div class="menu">
            <a href="/">
                <img class="youlogo" src="{{ url_for('static',filename='images/youlogo.png') }}" />
            </a>
        </div>
        <form class="searchbar" method="POST" action="search">
            <input type="text" name="search" id="search" placeholder="Search" />
            <button class="search-btn">
                <i class="material-icons search-icon">search</i>
            </button>
        </form>
            
        {% if userinf %}
            {% for inf in userinf %}
            <div class="dropdown">
                <img onclick="channeldropdown()" class="account-icon channel_img" src="{{ inf[4] }}" alt="">
                <div id="channeldropdown" class="dropdown-content">
                    <div class="content">
                        <a href="{{ url_for('channel', channel='') }}{{ inf[1] }}">{{ inf[1] }}</a>
                        <a href="/logout">Logout</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        {% else %}
            <button onclick="location.href='login';" type="button" class="btn btn-outline-primary">Login</button>
        {% endif %}
    </nav>
    <!-- mobile top navbar -->

    <!-- Login form -->
    
    <div class="box">
        <h2>Sign in</h2>
        <p>Use your SpoOkTube Account</p>
        <div class="icon">
            <i class="material-icons account-icon">account_circle</i>
        </div>
        <form method="post" action="#"> 
            <div class="inputBox">
            <input type="text" name="channel_name" required onkeyup="this.setAttribute('value', this.value);"  value="">
            <label>Username</label>
            </div>
            <div class="inputBox">
                <input type="password" name="channel_pass" required onkeyup="this.setAttribute('value', this.value);" value="">
                <label>Password</label>
            </div>
            <div class="warning">
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    {% for msg in messages %}
                        <warning>{{ msg }}</warning>
                    {% endfor %}
                {% endif %}
            {% endwith %}
            </div>
            <input type="submit" name="sign-in" value="Sign In">
        </form>
    </div>
    <!-- login form -->

</body>

</html>